.design-card{
    max-width: 100%;
    border: 1px solid var(--red);
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
}
.design-card-description{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(var(--red), var(--red)) no-repeat center/1px 100%;
}
.design-card-description p{
    text-align: center;
    margin: 0.2rem;
}

p{
    color: var(--pink-text-color);
    font-weight: 500;
}
img{
    max-width: 100%;
}
.heart{
    z-index: 1000;
}