input{
    color: var(--white-text-color);
    padding: 10px;
    border: 1px solid var(--burgundy);
    background:none;
    outline: none;
    border-radius: 7px;
    width: 100%;
    font-size: inherit;
    display: block;
    box-sizing: border-box;
}
.search-bar{
    padding-bottom:  1rem;
}