.opinion-card{
    border: 1px solid var(--burgundy);
    border-radius: 4px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.opinion-user{
    display: flex;
    padding-bottom: 0.5rem;
}
.opinion-user img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;

}
.opinion-card p{
    padding-bottom: 0;
}
.opinion-user-data{
    display: block;
    margin-top: 0;
    margin-left: 1rem;
}
.opinion-user-data p{
    padding-bottom: 0.5rem ;
    word-break: break-word;
}
