.user-data-detail{
    margin-top: 0;
}
.account-info{
    color: var(--white-text-color);
    font-size: inherit;
    margin: 0;
}
.account-info-header{
    text-transform: capitalize;
}
.edit-input{
    border: none;
    text-align: right;
    padding: 0;
    max-width: fit-content;
}