:root {
  --background-color: #0C0A10;
  --font-size: 14px;
  --padding: 10px;
  --white-text-color: #ffffff;
  --pink-text-color: #C54672;
  --red: #7C162E;
  --burgundy: #5C162E;
  --grey-text-color: #BCBCBC;
}

#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
}
body{
  font-family: 'Inter', sans-serif;
  font-style: normal;

  color: var(--white-text-color);
  background-color: var(--background-color);
margin: 0 auto;
  width: 100%;
  /*text-align: center;*/
  max-width: 400px;
}
header{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
header img{
  max-width: 40px;
}
.title-text{
  color: var(--pink-text-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 117.023%;
  letter-spacing: 4px;
  text-transform: uppercase;
}